@media(max-width:375px){
    .T1{
        font-size: 11px;
    }
    .T2{
        font-size: 26px;
    }
    .T3{
        font-size: 6px;
    }
    .Contacto{
        font-size: 10px;
        h3{
            font-size: 14px;
        }
    }
}